<div class="wrapper">
	<h1 class="page-title">Live Channel Status</h1>
	<div class="components">
		<div class="component">
			<h3>Ticker <button class="btn-clear">Clear</button></h3>
			<div class="component-content">
				<div class="logs" id="ticker-log-container">
				</div>
			</div>
		</div>
		<div class="component">
			<h3>Trade <button class="btn-clear">Clear</button></h3>
			<div class="component-content">
				<div class="logs" id="trade-log-container">
				</div>
			</div>
		</div>
		<div class="component">
			<h3>Book Order <button class="btn-clear">Clear</button></h3>
			<div class="component-content">
				<div class="logs" id="book-log-container">
				</div>
			</div>
		</div>
	</div>
</div>