* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {

}

.wrapper {
	.page-title {
		text-align: center;
		margin: 2em 0 1.5em;
	}
}

.components {
	display: flex;
	flex-wrap: wrap;
	.component {
		width: 100%;
		h3 {
			text-align: center;
			margin: 30px;
			.btn-clear {
				font-size: 10px;
				font-weight: 400;
				padding: 4px 8px;
				float: right;
				margin-top: 8px;
			}
		}
		.component-content {
			margin: 15px;
			padding: 15px;
			background: #333;
			border-radius: 1em;
			color: #fff;
			font-weight: 300;
			letter-spacing: 0.3px;
			max-height: 60vh;
			min-height: 70px;
			overflow: auto;
			.logs {
				.log {
					margin-bottom: 1em;
					.type {
						background: #c30;
						border-radius: 0.5em;
						display: inline-block;
						padding: 4px 8px;
						margin-bottom: 0.5em;
					}
					.content {
						font-size: 11px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 800px) { 

	.component {
		flex: 1 0 50%
	}

}

@media only screen and (min-width: 1050px) { 

	.component {
		flex: 1 0 33.33%
	}

}
